file_source:
  name: file
  type: source
  description: Opens the specified file and reads messages.
  options:
    - default-facility:
        type: string
        description: This parameter assigns a facility value to the messages received from the file source, if the message does not specify one.
        default: kern
    - default-priority:
        type: string
        description: This parameter assigns an emergency level to the messages received from the file source, if the message does not specify one.
    - file:
        type: string
        description: The file to read messages from, including the path.
    - encoding:
        type: string
        description: Specifies the characterset (encoding, for example UTF-8) of messages using the legacy BSD-syslog protocol.
    - flags:
        type: set
        description: Specifies the log parsing options of the source.
        values: [assume-utf8, empty-lines, expect-hostnames, kernel]
    - follow-freq:
        type: number
        description: Indicates that the source should be checked periodically.
        default: 1
    - keep-timestamp:
        type: list
        description: Specifies whether syslog-ng should accept the timestamp received from the sending application or client.
        values: [yes, no]
        default: yes
    - log-fetch-limit:
        type: number
        description: The maximum number of messages fetched from a source during a single poll loop.
        default: 10
    - log-iw-size:
        type: number
        description: The size of the initial window, this value is used during flow control.
        default: 1000
    - log-msg-size:
        type: number
        description: Specifies the maximum length of incoming log messages.
        default: 8192
    - time-zone:
        type: string
        description: The default timezone for messages read from the source.
        default: Europe/Budapest

network_source:
  name: network
  type: source
  description: Listens on the specified TCP or UDP port for incoming messages using the BSD-syslog protocol over IPv4 and IPv6 networks, respectively.
  options:
    - encoding:
        type: string
        description: Specifies the characterset (encoding, for example UTF-8) of messages using the legacy BSD-syslog protocol.
    - flags:
        type: set
        description: Specifies the log parsing options of the source.
        values: [assume-utf8, empty-lines, expect-hostname, kernel, no-multi-line, no-parse, store-legacy-msghdr, syslog-protocol, validate-utf8]
    - host-override:
        type: string
        description: Replaces the ${HOST} part of the message with the parameter string.
    - ip:
        type: string
        description: The IP address to bind to.
        default: 0.0.0.0
    - ip-protocol:
        type: number
        description: Determines the internet protocol version of the given driver.
        default: 4
    - ip-tos:
        type: number
        description: Specifies the Type-of-Service value of outgoing packets.
        default: 0
    - ip-ttl:
        type: number
        description: Specifies the Time-To-Live value of outgoing packets.
        default: 0
    - keep-alive:
        type: list
        description: Specifies whether connections to sources should be closed when syslog-ng is forced to reload its configuration.
        values: [yes, no]
        default: yes
    - log-fetch-limit:
        type: number
        description: The maximum number of messages fetched from a source during a single poll loop.
        default: 10
    - log-iw-size:
        type: number
        description: The size of the initial window, this value is used during flow control.
        default: 1000
    - log-msg-size:
        type: number
        description: Specifies the maximum length of incoming log messages.
        default: 8192
    - time-zone:
        type: string
        description: The default timezone for messages read from the source.
        default: Europe/Budapest
    - transport:
        type: list
        description: Specifies the protocol used to receive messages from the source.
        values: [udp, tcp, tls]
        default: tcp

sql_destination:
  name: sql
  type: destination
  description: Sends messages into an SQL database.
  options:
    - columns:
        type: set
        values: [date, facility, level, host, program, pid, message]
        default: "date, facility, level, host, program, pid, message"
    - database:
        type: string
        default: logs
    - dbd-options:
        type: string
    - flags:
        type: set
        values: [dont-create-tables,explicit-commits]
    - flush-lines:
        type: number
    - db-type:
        type: list
        values: [mssql,mysql,oracle,pgsql,sqlite3]
    - host:
        type: string
    - port:
        type: number
    - username:
        type: string
    - password:
        type: string
    - table:
        type: string
    - indexes:
        type: set
        values: [date, facility, host, program]
        default: "date, facility, host, program"
    - values:
        type: set
        values: ["${R_YEAR}-${R_MONTH}-${R_DAY}, ${R_HOUR}:${R_MIN}:${R_SEC}", "${FACILITY}", "${LEVEL}", "${HOST}", "${PROGRAM}", "${PID}", "${MSGONLY}"]
        default: "\"${R_YEAR}-${R_MONTH}-${R_DAY}, ${R_HOUR}:${R_MIN}:${R_SEC}\", \"${FACILITY}\", \"${LEVEL}\", \"${HOST}\", \"${PROGRAM}\", \"${PID}\", \"${MSGONLY}\""
    - retries:
        type: number
